<StackLayout class="stack-container">
    <WrapLayout orientation="horizontal">
        <Label text="Harvest Check-in" class="title"></Label>
        <Button text="First-Time Guest"></Button>
    </WrapLayout>
    <TextField hint="Begin typing your name..." autocorrect="false" autocapitalizationType="none" [(ngModel)]="search"></TextField>
    <StackLayout width="600" *ngIf="names && names.length > 0">
        <ListView [items]="names" (itemTap)="onItemTap($event)">
            <template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout [class.odd]="odd" [class.even]="even">
                    <Label [text]='item.name'></Label>
                </StackLayout>
            </template>
        </ListView>
    </StackLayout>
</StackLayout>
